.animate-link {

  @include ie11() {

    &:hover {
      text-decoration: underline;
    }

  }
  position: relative;

  transition: all ease-in $animation-medium;

  &:hover {
    color: $color__primary;

    &:after {
      max-width: 100%;

      background-color: $color__primary;
    }
  }

  &:after {
    @include pseudoElement(100%);
    bottom: -3px;

    max-width: 0;
    height: 1px;

    background-color: $color__light;

    transition: all ease-in $animation-medium;
  }
}
