.main {



  height: 70vh;

  padding-top: $header_height;

  //background-color: red;
  background: {
    image: url('#{$icon_path}/logo.svg?inline');
  };

  &__container {
    min-height: 100%;

    background-color: #190126;
  }
}
