.main {
  $main_bg_color: #15141a;
  position: relative;

  height: 100vh;
  overflow: hidden;

  padding-top: $header_height;
  background: {
    color: $color__secondary;
  };
  /*  background: {
    color: $main_bg_color;
    image: url('#{$img_path}/bg.jpg');
    position-x: 10vw;
    repeat: no-repeat;
  };*/

  &__bg {
    $size: 120vh;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    span {

      @include size($size);

      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          @include size(#{$size - ($i * 10vh)});
        }
      }
      position: absolute;
      top: 50%;
      left: 50%;

      border: 1px solid $color__gray;
      border-radius: 50%;

      background-color: $color__secondary;

      transform: translate(-50%, -50%);
    }
  }

  &__container {
    justify-content: center;


    display: flex;
    min-height: 100%;
  }

  &__title {
    position: relative;
    z-index: z(content);

    margin-top: 20vh;

    text-align: center;

    &-heading {

      color: $color__font--secondary;

      transform: translateX(-50px);
      opacity: 0;

      transition: all ease-in-out 2s;
      font: {
        size: 100px;
        weight: 900;
      }

    }

    &-text {


      margin-top: 40px;

      color: rgba($color__font--secondary, .7);
    }
  }
}
