//Buttons

button {


}

label {
  color: $input__font-color;
  font-size: $input__font-size;
}

input {
  outline: none !important;
  color: inherit;
  font-size: inherit;
  &::placeholder {
    color: $input__placeholder-color;
  }
}
