$color__primary         : #ebc567;
$color__secondary       : #1a1b1f;

$color__light           : #fff;
$color__dark            : #000;
$color__gray            : rgba($color__light, .1);
//Indicate
$color__error           : #d23333;
$color__success         : #51d720;
//Font-color
$color__font--primary    : #000;
$color__font--secondary  : #fff;
$color__font--hover      : $color__secondary;

//Block-color
$color__block--primary    : $color__primary;
$color__block--secondary  : $color__secondary ;
$color__block--light      : #f5f5f5 ;

//Border
$color__border--primary    : $color__primary;
$color__border--secondary  : $color__secondary ;
