$font__line-height: auto;

$font__weight: normal;
$font__family: 'Lato';
$font__style: sans-serif;
$font__file-name: 'Lato-';
$font__path: '~@/assets/fonts/#{$font__file-name}';
$font__ext: (woff2, woff);
$font__types: (
                ('Regular', normal, normal),
                ('Bold', bold, normal),
                ('Black', 900, normal),
                ('Light', 300, normal),
);

@each $name, $weight, $style in $font__types {
  @include font-face($font__family, $font__path+$name, $weight, $style, $font__ext);
}


html {
  font-size: $font__size;
  line-height: $font__line-height;

  height: 100%;
  @include breakpoint($desktop__laptop) {
    font-size: 16px;
  }
  @include breakpoint($tablet__all) {
    font-size: 15px;
  }
  @include breakpoint(($width__mobile-min + 1) $width__tablet-port) {
    font-size: 14px;
  }
  @include breakpoint($width__min ($width__mobile-min + 1)) {
    font-size: 12px;
  }
}

body {
  font-family: $font__family, $font__style;
  font-size: $font__size;
  font-weight: $font__weight;

  margin: 0;
  padding: 0;

  color: $color__font--primary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

p,
a,
b,
span,
li {
  font-size: rem($font__size);
}

a {
  transition: .3s;
  text-decoration: none;
  color: $color__font--primary;

  &:hover,
  &:focus {
    text-decoration: none;

    outline: 0;
  }
}


a {
  font-size: 20px;
  line-height: 27px;

  @include breakpoint($tablet__all) {
    font-size: 18px;
    line-height: 24px;
  }
}

main {
  overflow: hidden;
}


img {
  max-width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

button {
  font: inherit;

  padding: 0;

  cursor: pointer;

  color: inherit;
  border: none;
  background-color: transparent;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  outline: 0;
}

button:active,
button:focus,
input[type='button']:active,
input[type='button']:focus,
input[type='reset']:active,
input[type='reset']:focus,
input[type='submit']:active,
input[type='submit']:focus {
  outline: 0;
}


select {
  border: 1px solid #ccc;

  &:focus {
    outline: 0;
  }
}

embed,
iframe,
object,
textarea {
  width: 100%;
}

form {
  label {
    display: block;
    width: 100%;
  }

  input, textarea {
    width: inherit;
    font-family: $font__family;
    font-size: rem($font__size);

    color: $color__font--primary;
  }
}

label {
  display: block;
}

input {
  box-shadow: none;
  outline: none;

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }

  &[type='text'],
  &[type='email'],
  &[type='url'],
  &[type='password'],
  &[type='search'],
  &[type='number'],
  &[type='tel'],
  &[type='range'],
  &[type='date'],
  &[type='month'],
  &[type='week'],
  &[type='time'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='color'] {
    width: 100%;

    outline: 0;

    &:focus {
      outline: 0;
    }
  }
}

textarea {
  width: 100%;

  outline: 0;
  resize: none;

  &:focus {
    outline: 0;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 15px;
  transition: all $animation-fast;
  @include breakpoint(min-width $width__desktop-hd + 1) {
    max-width: $width__desktop-hd-min;
  }
  @include breakpoint(min-width $width__desktop-hd-min) {
    max-width: $max-width__desktop-hd-min;
  }
  @include breakpoint(min-width $width__laptop-min) {
    max-width: $max-width__desktop-min;
  }
  @include breakpoint(min-width $width__tablet-land) {
    max-width: $max-width__tablet-land;
  }
  @include breakpoint(min-width $width__tablet-port) {
    max-width: $max-width__tablet-port;
  }
  @include breakpoint(min-width $width__mobile-max) {
    max-width: $max-width__mobile-max;
  }
}

h1 {
  color: $color__font--primary;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 90px;

  line-height: 1.2;


}
