.header {
  position: fixed;
  z-index: z(header);

  width: 100%;
  height: $header_height;


  color: $color__font--secondary;

  &__wrap {
    align-items: center;
    justify-content: space-between;

    display: flex;
    height: $header_height;
  }
  &__navbar {

  }
}
