
//Animation duration
$animation-fast          : .4s;
$animation-medium        : .4s;
$animation-slow          : .8s;

//Loading ring
// class = lds-ring > .div*4
$ring-color                : rebeccapurple;
$ring-animation-duration   : 1.8s;
$ring-weight               : 5px;

//timings
$main_page_timing: 1.5s;

@import 'components/link';
@import 'components/header';
@import 'sections/main-animations';




